<main>
  <div class="row">

    <!-- Fixed sidebar -->
    <div class="col-md-3">

      <div class="panel panel-default">

        <div class="panel-heading">

          <h3 class="panel-title">
            Quote: {{$ctrl.quote.quoteID}}
          </h3>

        </div>

        <div class="panel-body">
          <h4>Insured: {{$ctrl.quote.insured.displayName}}</h4>
          <h4>Drivers: {{$ctrl.quote.drivers.length}}</h4>
          <h4>Vehicles: {{$ctrl.quote.vehicles.length}}</h4>
        </div>

      </div>

    </div>

    <div class="col-md-7">

      <wizard-trail></wizard-trail>

      <!-- Page Title -->
      <h1>
        {{$ctrl.$state.current.label}}
      </h1>

      <ui-view></ui-view>

    </div>

  </div>
</main>
